<% if current_user.available_orders %>
<h3>Orders in your zone that need a courier.</h3>
<ul>
<% current_user.available_orders.each do |order| %>
  <li> Meal prepared by chef <%= order.chef.full_name %> for <%= order.customer.full_name %>
  <%= button_to 'View order', order_path(order) %> </li>
  <%end%>
</ul>
<%end%>
