Items:
<ul>
	<% @items.each do |item| %>
	<li>
	<%= item.name %>:  $<%= "%.2f" %[item.price] %>
	<% if current_user.account_type_id.to_i == 2 %>
		<%= button_to 'Edit item', edit_item_path(item) %>
		<%= button_to 'Delete item', item_path(item), method: 'delete' %>
	<% end %>
	</li>
	<% end %>
</ul>
