

<% if logged_in? %>
  <body>
  <h3>Welcome, <%= current_user.first_name %></h3>
  <% if is_chef? %>
      <%= render 'chef' %>

  <% elsif is_customer? %>

    <%= render 'customer' %>

  <% elsif is_courier? %>
      <%= render 'courier' %>
  <%end%>


<% else %>

<style type="text/css">
    body {
      background-color: #DADADA;
    }
    body >
    .landpage-image{
      height: 100%;
}

.landpage-image{
    background-image: url(newimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  </style>
  <div class="ui inverted vertical segment landpage-image">
  <div align = "center">

    <h1><font color="black">  Welcome to FoodBringer </font></h1>

    <h2><font color="black"> Get home cooked meals delivered to your door!</font></h2>
    <b><h3><font color="black"> Sign in to browse chefs in your area. </br> Place your order. Once your meal is ready a courier will pick up your food</font></h3></b>
  </div>
</div>

<%end%>

</body>
