

<% if logged_in? %>
  <body>
  <h3>Welcome, <%= current_user.first_name %></h3>
  <% if is_chef? %>
      <%= render 'chef' %>

  <% elsif is_customer? %>

    <%= render 'customer' %>

  <% elsif is_courier? %>
      <%= render 'courier' %>
  <%end%>

  
<% else %>
<div align = "center">
  <h2> Welcome to FoodBringer </h2>
  <h3> Get home cooked meals delivered to your door! </h3>
  <p> Sign in to browse chefs in your area. Place your order. Once your meal is ready a courier will pick up your food</p>
</div>
<%end%>

</body>
